body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: 'Cronos Pro';
    /*
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    */

    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    text-rendering: optimizeLegibility;
}
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    font-family: inherit;
    font-size: 18px;
}


header {
    font-family: 'Warnock Pro';
    margin-top: 20px;

    display: none;
}
body { margin-top: 40px; }
.swash {
	-webkit-font-feature-settings: 'swsh';
	-moz-font-feature-settings: 'swsh';
	-ms-font-feature-settings: 'swsh';
	font-feature-settings: 'swsh';
}
nav ul { margin: 0; }
nav ul li {
	display: inline;
    line-height: 50px; /* borrowed from h1 */
    font-size: 22px;
    font-variant: small-caps;
    -webkit-font-feature-settings: 'smcp';
}
nav ul li:not(last-of-type) {
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}

.player {
    cursor: pointer;
    padding: 8px 10px;
    font-size: 18px;
}

.team h2 {
    font-weight: bold;
    padding: 0 10px;
}

.player .name, .team .name {
    display: inline-block;
}

.player .score, .team .score {
    display: inline-block;
    float: right;
    font-weight: bold;
    color: #777;
    font-size: 1.2em;
}

.player.selected {
    outline: 1px solid #fe1;
    -webkit-box-shadow: inset 0 0 10px #fe1;
    -moz-box-shadow: inset 0 0 10px #fe1;
    box-shadow: inset 0 0 10px #fe1;
}
.player.selected .score {
    color: black;
}

.text {
    /*line-height: 1.4;
    font-family: 'Cronos Pro';
    font-size: 18px;*/
    
    height: 335px;
    overflow-y: auto;

    text-align: justify;
    font-family: 'Warnock Pro';
    font-weight: 400;
    line-height: 1.6;
}
.text p {
    color: #181818;
    margin-bottom: 0.5em;
    font-size: 16px;
}
.text b { font-weight: bold; }
.text i { font-style: italic; }
.text .answer-label {
    /*font-variant: small-caps;*/
    text-transform: lowercase;
    -webkit-font-feature-settings: 'smcp';
    -moz-font-feature-settings: 'smcp';
    -ms-font-feature-settings: 'smcp';
    font-feature-settings: 'smcp';
}
.text .button, .text button, .text input[type="submit"], .text input[type="reset"], .text input[type="button"] {
    font-family: 'Cronos Pro';
    padding: 1px 10px;
}

.packetbar {
    width: 100%;
}
.packetbar td, .packetbar th {
    text-align: center;
    color: #999;
    border: 1px solid #eee;
}
.packetbar .selected {
    color: black;
}