body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: 'Cronos Pro';
    /*
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    */

    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    text-rendering: optimizeLegibility;
}
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    font-family: inherit;
    font-size: 18px;
}


header {
    font-family: 'Warnock Pro';
}
.swash {
	-webkit-font-feature-settings: 'swsh';
	-moz-font-feature-settings: 'swsh';
	-ms-font-feature-settings: 'swsh';
	font-feature-settings: 'swsh';
}

.player {
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
}

.team h2 {
    font-weight: bold;
}

.player .name, .team .name {
    display: inline-block;
}

.player .score, .team .score {
    display: inline-block;
    float: right;
    font-weight: bold;
    color: #777;
    font-size: 1.2em;
}

.player.selected {
    outline: 1px solid #fe1;
    -webkit-box-shadow: inset 0 0 10px #fe1;
    -moz-box-shadow: inset 0 0 10px #fe1;
    box-shadow: inset 0 0 10px #fe1;
}
.player.selected .score {
    color: black;
}